@import "tailwindcss";

@custom-variant mobile (@media (max-width: 767px));
@custom-variant tablet (@media (max-width: 768px) and (max-width: 1199px));
@custom-variant below-desktop (@media (max-width: 1199px));
@custom-variant tablet-up (@media (min-width: 768px));
@custom-variant desktop (@media (min-width: 100px));
@custom-variant desktop-wide (@media (min-width: 1280px));

:root {
  --background: #F1F9F4;
  --header-bg: #5BD0B5;

  --text-primary: #0C4B4D;

}